# デフォルト全除外
*

# 管理対象ファイル
!/.gitignore
!/LICENSE
!/CLAUDE.md
!/README.md
!/README.en.md
!/SPEC.md
!/Taskfile.yml
!/tally.cpp

# 管理対象ディレクトリ
!/.github/
!/.github/workflows/
!/.github/workflows/**

# 管理対象内の除外
*.local.*
.env
